.navbar-pc {
  display: block;
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-primary;
    padding: 5px 7%;
    &-left {
      display: flex;
      align-items: center;
      &-item {
        border-left: 1px solid #3b3b3b;
        padding: 0 10px;
        &:hover {
          cursor: pointer;
          .navbar-pc-top-left-item-icon,
          .navbar-pc-top-left-item-title {
            color: $color-yellow;
            transition: all 0.2s ease-in-out;
          }
          .navbar-pc-top-left-item-content {
            color: red;
            transition: all 0.2s ease-in-out;
          }
        }
        &-icon {
          font-size: 12px;
          color: $color-white;
          transition: all 0.2s ease-in-out;
        }
        &-title {
          font-size: 12px;
          color: $color-white;
          margin: 0 5px;
          transition: all 0.2s ease-in-out;
        }
        &-content {
          font-size: 12px;
          color: $color-yellow;
          transition: all 0.2s ease-in-out;
        }
        &:nth-child(1) {
          border-left: none;
          margin-left: 0px;
        }
      }
    }
    &-right {
      display: flex;
      align-items: center;
      &:hover {
        .navbar-pc-top-right-icon {
          color: $color-yellow;
          transition: all 0.3s ease-in-out;
        }
      }
      &-icon {
        font-size: 13px;
        color: $color-white;
        transition: all 0.2s ease-in-out;
      }
      &-create {
        border-right: 1px solid #3b3b3b;
        padding: 0 8px;
        font-size: 13px;
        color: $color-white;
        transition: all 0.2s ease-in-out;
        &:hover {
          color: $color-yellow;
          transition: all 0.3s ease-in-out;
        }
      }
      &-login {
        margin-left: 8px;
        font-size: 13px;
        color: $color-white;
        transition: all 0.2s ease-in-out;
        &:hover {
          color: $color-yellow;
          transition: all 0.3s ease-in-out;
        }
      }
      &-hello {
        position: relative;
        &:hover {
          .navbar-pc-top-right-hello-hover {
            visibility: inherit;
            opacity: 1;
            transition: all 0.2s ease-in-out;
          }
        }
        &-text {
          font-size: 14px;
          color: $color-white;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: $color-yellow;
            transition: all 0.3s ease-in-out;
          }
        }
        &-hover {
          position: absolute;
          visibility: hidden;
          opacity: 0;
          background-color: #fff;
          padding: 5px;
          border-radius: 3px;
          top: 29px;
          right: 0;
          z-index: 500;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          transition: all 0.2s ease-in-out;
          &-item {
            font-size: 12.5px;
            padding: 2px 5px;
            &:hover {
              cursor: pointer;
              color: $color-yellow;
            }
            &-divider {
              width: 100%;
              height: 1px;
              background-color: #ededed;
            }
          }
        }
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          left: 0;
          bottom: -10px;
          height: 10px;
          background-color: transparent;
        }
      }
    }
  }
  &-menu {
    padding: 20px 7%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100%);
    z-index: 50;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.6) 60%,
      transparent 100%
    );
    // background-color: red;
    &-image {
      width: auto;
      height: 50px;
    }
    &-group {
      display: flex;
      align-items: center;
      &-item {
        &-title {
          font-size: 16px;
          position: relative;
          &:hover {
            cursor: pointer;
            color: $color-yellow;
            transition: 0.2s ease-out;
            text-shadow: 0.5px 0.5px #333, -0.5px -0.5px #eee, 0.5px -0.5px #eee,
              -0.5px 0.5px #eee;
          }
          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -3px;
            width: 100%;
            height: 2px;
            background-color: $color-yellow;
            transform: scaleX(0);
            transform-origin: bottom right;
            transition: transform 0.3s ease-out;
          }
          &:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
          }
        }
        margin-right: 20px;
      }
      &-btn {
        background-color: $color-primary;
        padding: 5px 12px;
        border-radius: 12px;
        &-title {
          font-size: 10px;
          color: $color-white;
        }
      }
    }
  }
}

// responsive
@include responsive_200 {
  .navbar-pc {
    display: none;
  }
}
@include responsive_280 {
  .navbar-pc {
    display: none;
  }
}
@include responsive_320 {
  .navbar-pc {
    display: none;
  }
}

@include responsive_375 {
  .navbar-pc {
    display: none;
  }
}

@include responsive_456 {
  .navbar-pc {
    display: none;
  }
}

@include responsive_768 {
  .navbar-pc {
    &-top {
      padding: 5px 2%;
      &-left {
        &-item {
          padding: 0 7px;
          &-icon {
            font-size: 12px;
          }
          &-title {
            display: none;
          }
          &-content {
            font-size: 12px;
            margin-left: 7px;
          }
        }
      }
      &-right {
        &-icon {
          font-size: 12px;
        }
        &-create {
          padding: 0 6px;
          font-size: 12px;
        }
        &-login {
          margin-left: 6px;
          font-size: 12px;
        }
      }
    }
    &-menu {
      padding: 20px 2%;
      width: calc(100%);
      z-index: 50;
      &-image {
        width: auto;
        height: 30px;
      }
      &-group {
        &-item {
          &-title {
            font-size: 13.5px;
            &::after {
              left: 0;
              bottom: -3px;
              width: 100%;
              height: 2px;
            }
          }
          margin-right: 15px;
        }
        &-btn {
          padding: 5px 5px;
          border-radius: 12px;
          &-title {
            font-size: 10px;
          }
        }
      }
    }
  }
}
@include responsive_1024 {
  .navbar-pc {
    &-top {
      padding: 5px 2%;
      &-left {
        &-item {
          padding: 0 10px;
          &-icon {
            font-size: 12px;
          }
          &-title {
            font-size: 12px;
            margin: 0 5px;
          }
          &-content {
            font-size: 12px;
          }
        }
      }
      &-right {
        &-icon {
          font-size: 13px;
        }
        &-create {
          padding: 0 8px;
          font-size: 13px;
        }
        &-login {
          margin-left: 8px;
          font-size: 13px;
        }
      }
    }
    &-menu {
      padding: 20px 2%;
      width: calc(100%);
      z-index: 50;
      &-image {
        width: auto;
        height: 50px;
      }
      &-group {
        &-item {
          &-title {
            font-size: 16px;
            &::after {
              left: 0;
              bottom: -3px;
              width: 100%;
              height: 2px;
            }
          }
          margin-right: 20px;
        }
        &-btn {
          padding: 5px 12px;
          border-radius: 12px;
          &-title {
            font-size: 10px;
          }
        }
      }
    }
  }
}

@include responsive_1200 {
  .navbar-pc {
    &-top {
      padding: 5px 2%;
      &-left {
        &-item {
          padding: 0 10px;
          &-icon {
            font-size: 12px;
          }
          &-title {
            font-size: 12px;

            margin: 0 5px;
          }
          &-content {
            font-size: 12px;
          }
        }
      }
      &-right {
        &-icon {
          font-size: 13px;
        }
        &-create {
          padding: 0 8px;
          font-size: 13px;
        }
        &-login {
          margin-left: 8px;
          font-size: 13px;
        }
      }
    }
    &-menu {
      padding: 20px 2%;
      width: calc(100%);
      z-index: 50;
      &-image {
        width: auto;
        height: 50px;
      }
      &-group {
        &-item {
          &-title {
            font-size: 16px;
            &::after {
              left: 0;
              bottom: -3px;
              width: 100%;
              height: 2px;
            }
          }
          margin-right: 20px;
        }
        &-btn {
          padding: 5px 12px;
          border-radius: 12px;
          &-title {
            font-size: 10px;
          }
        }
      }
    }
  }
}
@include responsive_1440 {
  .navbar-pc {
    &-top {
      padding: 5px 2%;
      &-left {
        &-item {
          padding: 0 10px;
          &-icon {
            font-size: 12px;
          }
          &-title {
            font-size: 12px;

            margin: 0 5px;
          }
          &-content {
            font-size: 12px;
          }
        }
      }
      &-right {
        &-icon {
          font-size: 13px;
        }
        &-create {
          padding: 0 8px;
          font-size: 13px;
        }
        &-login {
          margin-left: 8px;
          font-size: 13px;
        }
      }
    }
    &-menu {
      padding: 20px 2%;
      width: calc(100%);
      z-index: 50;
      &-image {
        width: auto;
        height: 50px;
      }
      &-group {
        &-item {
          &-title {
            font-size: 16px;
            &::after {
              left: 0;
              bottom: -3px;
              width: 100%;
              height: 2px;
            }
          }
          margin-right: 20px;
        }
        &-btn {
          padding: 5px 12px;
          border-radius: 12px;
          &-title {
            font-size: 10px;
          }
        }
      }
    }
  }
}
@include responsive_1650 {
}
@include responsive_1900 {
}
