.information {
  display: flex;
  justify-content: space-between;
  margin: 0px 7% 0 7%;
  &-user {
    opacity: 0;
    visibility: hidden;
  }
  &-left {
    width: 17%;
    &-user {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #ededed;
      padding-bottom: 30px;
      margin-bottom: 30px;
      &-avatar {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 60px;
        height: 60px;
        border: 1px solid green;
        border-radius: 50%;
      }
      &-infor {
        margin-left: 18px;
        &-title {
          font-size: 16px;
          font-weight: 500;
          color: $color-primary;
          margin-bottom: 4px;
        }
        &-edit {
          &-icon {
            font-size: 15px;
            color: #888;
          }
          &-text {
            font-size: 15px;
            color: #888;
            margin-left: 8px;
          }
          &:hover {
            cursor: pointer;
            .information-left-user-infor-edit-icon,
            .information-left-user-infor-edit-text {
              color: $color-primary;
              transition: all 0.2s ease-in-out;
            }
          }
        }
      }
    }
    &-item {
      margin-bottom: 14px;
      transition: all 0.2s ease-in-out;
      display: block;
      &:hover {
        cursor: pointer;
        .information-left-item-text {
          color: $color-primary;
          font-weight: 500;
          transition: all 0.2s ease-in-out;
        }
        .information-left-item-icon {
          color: $color-primary;
          transition: all 0.2s ease-in-out;
        }
      }
      &-icon {
        font-size: 16px;
        color: #bfbfbf;
        margin-right: 8px;
      }
      &-text {
        font-size: 16px;
        color: #bfbfbf;
        &-activate {
          color: $color-primary;
        }
      }
      &:nth-last-child(1) {
        margin-top: 40vh;
      }
      &-activate {
        i {
          color: $color-primary;
        }
        span {
          color: $color-primary;
          font-weight: 500;
        }
      }
    }
  }
  &-right {
    width: 80%;
    margin-top: -60px;
    &-menu {
      display: flex;
      align-items: center;
      background-color: #f5f5f5;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      &-mobile {
        display: none;
      }
      &-item {
        width: calc(20%);
        margin: 0 auto;
        text-align: center;
        padding: 8px 0;
        color: #bfbfbf;
        transition: all 0.2s ease-in-out;
        &-activate {
          font-weight: 600;
          color: $color-white;
          background-color: $color-primary;
        }
        &:hover {
          cursor: pointer;
          font-weight: 600;
          color: $color-white;
          background-color: $color-primary;
          transition: all 0.3s linear;
        }
      }
    }
    &-search {
      width: 100%;
      margin: 20px 0;
      position: relative;
      &-input {
        width: 100%;
        border: none;
        padding: 10px 40px;
        background-color: #eaeaea;
        font-size: 14px;
        color: #666;
        input:focus {
          outline: none;
          border: none;
        }
      }
      &-icon {
        position: absolute;
        left: 10px;
        top: 10px;
        color: $color-primary;
        font-size: 20px;
        transition: all 0.3s linear;
        &:hover {
          cursor: pointer;
          color: $color-secondary;
          transition: all 0.3s linear;
        }
      }
    }
  }
}

// responsive
@include responsive_200 {
}
@include responsive_280 {
}
@include responsive_320 {
  .information {
    margin: 80px 2% 0 2%;
    &-user {
      // display: block;
      opacity: 1;
      position: absolute;
      z-index: 100;
      right: 10px;
      top: 10px;
      &-avatar {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid green;
        &::after {
          display: none;
        }
      }
    }
    &-left {
      display: none;
      &-user {
        position: relative;
        width: 40%;
        margin-top: -15px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        border-bottom: none;
        &-avatar {
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
        &-infor {
          margin-left: 15px;
          &-title {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 4px;
          }
          &-edit {
            &-icon {
              font-size: 15px;
            }
            &-text {
              font-size: 15px;
              margin-left: 8px;
            }
          }
        }
      }
      &-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 60%;
        a {
          line-height: 20px !important;
        }
      }
      &-item {
        margin-bottom: 0x !important;
        padding-bottom: 0;
        width: 50%;
        line-height: 20px !important;
        &-icon {
          font-size: 16px;
          margin-right: 8px;
        }
        &-text {
          font-size: 16px;
          &-activate {
          }
        }
        &:nth-last-child(1) {
          margin-top: 0;
        }
        &-activate {
          i {
          }
          span {
            font-weight: 500;
          }
        }
      }
    }
    &-right {
      width: 100%;
      margin-top: 0px;
      overflow-x: scroll;
      white-space: nowrap;
      &-menu {
        display: none;
        &-item {
          width: calc(20%);
          margin: 0 auto;
          padding: 6px 0;
          color: #bfbfbf;
          font-size: 14px;
        }
        &-mobile {
          display: block;
        }
      }
      &-search {
        width: 100%;
        margin: 10px 0;
        &-input {
          width: 100%;
          padding: 10px 40px;
          font-size: 14px;
        }
        &-icon {
          left: 10px;
          top: 10px;
          font-size: 20px;
        }
      }
    }
  }
}

@include responsive_375 {
  .information {
    margin: 80px 2% 0 2%;
    &-user {
      visibility: inherit;
      opacity: 1;
      position: absolute;
      z-index: 100;
      right: 10px;
      top: 10px;
      &-avatar {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid green;
        &::after {
          display: none;
        }
      }
    }
    &-left {
      display: none;
      &-user {
        position: relative;
        width: 40%;
        margin-top: -15px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        border-bottom: none;
        &-avatar {
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
        &-infor {
          margin-left: 15px;
          &-title {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 4px;
          }
          &-edit {
            &-icon {
              font-size: 15px;
            }
            &-text {
              font-size: 15px;
              margin-left: 8px;
            }
          }
        }
      }
      &-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 60%;
        a {
          line-height: 20px !important;
        }
      }
      &-item {
        margin-bottom: 0x !important;
        padding-bottom: 0;
        width: 50%;
        line-height: 20px !important;
        &-icon {
          font-size: 16px;
          margin-right: 8px;
        }
        &-text {
          font-size: 16px;
          &-activate {
          }
        }
        &:nth-last-child(1) {
          margin-top: 0;
        }
        &-activate {
          i {
          }
          span {
            font-weight: 500;
          }
        }
      }
    }
    &-right {
      width: 100%;
      margin-top: 0px;
      overflow-x: scroll;
      white-space: nowrap;
      &-menu {
        display: none;
        &-item {
          width: calc(20%);
          margin: 0 auto;
          padding: 6px 0;
          color: #bfbfbf;
          font-size: 14px;
        }
        &-mobile {
          display: block;
        }
      }
      &-search {
        width: 100%;
        margin: 10px 0;
        &-input {
          width: 100%;
          padding: 10px 40px;
          font-size: 14px;
        }
        &-icon {
          left: 10px;
          top: 10px;
          font-size: 20px;
        }
      }
    }
  }
}

@include responsive_456 {
  .information {
    margin: 80px 2% 0 2%;
    &-user {
      visibility: inherit;
      opacity: 1;
      position: absolute;
      z-index: 100;
      right: 10px;
      top: 10px;
      &-avatar {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid green;
        &::after {
          display: none;
        }
      }
    }
    &-left {
      display: none;
      &-user {
        position: relative;
        width: 40%;
        margin-top: -15px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        border-bottom: none;
        &-avatar {
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
        &-infor {
          margin-left: 15px;
          &-title {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 4px;
          }
          &-edit {
            &-icon {
              font-size: 15px;
            }
            &-text {
              font-size: 15px;
              margin-left: 8px;
            }
          }
        }
      }
      &-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 60%;
        a {
          line-height: 20px !important;
        }
      }
      &-item {
        margin-bottom: 0x !important;
        padding-bottom: 0;
        width: 50%;
        line-height: 20px !important;
        &-icon {
          font-size: 16px;
          margin-right: 8px;
        }
        &-text {
          font-size: 16px;
          &-activate {
          }
        }
        &:nth-last-child(1) {
          margin-top: 0;
        }
        &-activate {
          i {
          }
          span {
            font-weight: 500;
          }
        }
      }
    }
    &-right {
      width: 100%;
      margin-top: 0px;
      overflow-x: scroll;
      white-space: nowrap;
      &-menu {
        display: none;
        &-item {
          width: calc(20%);
          margin: 0 auto;
          padding: 6px 0;
          color: #bfbfbf;
          font-size: 14px;
        }
        &-mobile {
          display: block;
        }
      }
      &-search {
        width: 100%;
        margin: 10px 0;
        &-input {
          width: 100%;
          padding: 10px 40px;
          font-size: 14px;
        }
        &-icon {
          left: 10px;
          top: 10px;
          font-size: 20px;
        }
      }
    }
  }
}

@include responsive_768 {
  .information {
    margin: 0px 2% 0 2%;
    display: block;
    &-left {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 80px;
      margin-top: -10px;
      &-user {
        width: 40%;
        margin-top: -15px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        border-bottom: none;
        &-avatar {
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
        &-infor {
          margin-left: 15px;
          &-title {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 4px;
          }
          &-edit {
            &-icon {
              font-size: 15px;
            }
            &-text {
              font-size: 15px;
              margin-left: 8px;
            }
          }
        }
      }
      &-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 60%;
        a {
          line-height: 20px !important;
        }
      }
      &-item {
        margin-bottom: 0x !important;
        padding-bottom: 0;
        width: 50%;
        line-height: 20px !important;
        &-icon {
          font-size: 16px;
          margin-right: 8px;
        }
        &-text {
          font-size: 16px;
          &-activate {
          }
        }
        &:nth-last-child(1) {
          margin-top: 0;
        }
        &-activate {
          i {
          }
          span {
            font-weight: 500;
          }
        }
      }
    }
    &-right {
      width: 100%;
      margin-top: -50px;
      &-menu {
        &-item {
          width: calc(20%);
          margin: 0 auto;
          padding: 6px 0;
          color: #bfbfbf;
          font-size: 11.5px;
        }
      }
      &-search {
        width: 100%;
        margin: 10px 0;
        &-input {
          width: 100%;
          padding: 10px 40px;
          font-size: 14px;
        }
        &-icon {
          left: 10px;
          top: 10px;
          font-size: 20px;
        }
      }
    }
  }
}
@include responsive_1024 {
  .information {
    margin: 0px 2% 0 2%;
    &-left {
      width: 25%;
      &-user {
        padding-bottom: 30px;
        margin-bottom: 30px;
        &-avatar {
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
        &-infor {
          margin-left: 15px;
          &-title {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 4px;
          }
          &-edit {
            &-icon {
              font-size: 15px;
            }
            &-text {
              font-size: 15px;
              margin-left: 8px;
            }
          }
        }
      }
      &-item {
        margin-bottom: 14px;
        &-icon {
          font-size: 16px;
          margin-right: 8px;
        }
        &-text {
          font-size: 16px;
          &-activate {
          }
        }
        &:nth-last-child(1) {
          margin-top: 40vh;
        }
        &-activate {
          i {
          }
          span {
            font-weight: 500;
          }
        }
      }
    }
    &-right {
      width: 75%;
      margin-top: -50px;
      &-menu {
        &-item {
          width: calc(20%);
          margin: 0 auto;
          padding: 6px 0;
          color: #bfbfbf;
          font-size: 11.5px;
        }
      }
      &-search {
        width: 100%;
        margin: 10px 0;
        &-input {
          width: 100%;
          padding: 10px 40px;
          font-size: 14px;
        }
        &-icon {
          left: 10px;
          top: 10px;
          font-size: 20px;
        }
      }
    }
  }
}

@include responsive_1200 {
  .information {
    margin: 0px 2% 0 2%;
    &-left {
      width: 25%;
      &-user {
        padding-bottom: 30px;
        margin-bottom: 30px;
        &-avatar {
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
        &-infor {
          margin-left: 15px;
          &-title {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 4px;
          }
          &-edit {
            &-icon {
              font-size: 15px;
            }
            &-text {
              font-size: 15px;
              margin-left: 8px;
            }
          }
        }
      }
      &-item {
        margin-bottom: 14px;
        &-icon {
          font-size: 16px;
          margin-right: 8px;
        }
        &-text {
          font-size: 16px;
          &-activate {
          }
        }
        &:nth-last-child(1) {
          margin-top: 40vh;
        }
        &-activate {
          i {
          }
          span {
            font-weight: 500;
          }
        }
      }
    }
    &-right {
      width: 75%;
      margin-top: -50px;
      &-menu {
        &-item {
          width: calc(20%);
          margin: 0 auto;
          padding: 7px 0;
          color: #bfbfbf;
          font-size: 14px;
        }
      }
      &-search {
        width: 100%;
        margin: 10px 0;
        &-input {
          width: 100%;
          padding: 10px 40px;
          font-size: 14px;
        }
        &-icon {
          left: 10px;
          top: 10px;
          font-size: 20px;
        }
      }
    }
  }
}
@include responsive_1440 {
  .information {
    margin: 0px 2% 0 2%;
    &-left {
      width: 16%;
      &-user {
        padding-bottom: 30px;
        margin-bottom: 30px;
        &-avatar {
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
        &-infor {
          margin-left: 15px;
          &-title {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 4px;
          }
          &-edit {
            &-icon {
              font-size: 15px;
            }
            &-text {
              font-size: 15px;
              margin-left: 8px;
            }
          }
        }
      }
      &-item {
        margin-bottom: 14px;
        &-icon {
          font-size: 16px;
          margin-right: 8px;
        }
        &-text {
          font-size: 16px;
          &-activate {
          }
        }
        &:nth-last-child(1) {
          margin-top: 40vh;
        }
        &-activate {
          i {
          }
          span {
            font-weight: 500;
          }
        }
      }
    }
    &-right {
      width: 80%;
      margin-top: -50px;
      &-menu {
        &-item {
          width: calc(20%);
          margin: 0 auto;
          padding: 7px 0;
          color: #bfbfbf;
          font-size: 15px;
        }
      }
      &-search {
        width: 100%;
        margin: 10px 0;
        &-input {
          width: 100%;
          padding: 10px 40px;
          font-size: 14px;
        }
        &-icon {
          left: 10px;
          top: 10px;
          font-size: 20px;
        }
      }
    }
  }
}
@include responsive_1650 {
  .information {
    margin: 0px 7% 0 7%;
    &-left {
      width: 16%;
      &-user {
        padding-bottom: 30px;
        margin-bottom: 30px;
        &-avatar {
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
        &-infor {
          margin-left: 15px;
          &-title {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 4px;
          }
          &-edit {
            &-icon {
              font-size: 15px;
            }
            &-text {
              font-size: 15px;
              margin-left: 8px;
            }
          }
        }
      }
      &-item {
        margin-bottom: 14px;
        &-icon {
          font-size: 16px;
          margin-right: 8px;
        }
        &-text {
          font-size: 16px;
          &-activate {
          }
        }
        &:nth-last-child(1) {
          margin-top: 40vh;
        }
        &-activate {
          i {
          }
          span {
            font-weight: 500;
          }
        }
      }
    }
    &-right {
      width: 80%;
      margin-top: -50px;
      &-menu {
        &-item {
          width: calc(20%);
          margin: 0 auto;
          padding: 7px 0;
          color: #bfbfbf;
          font-size: 15px;
        }
      }
      &-search {
        width: 100%;
        margin: 10px 0;
        &-input {
          width: 100%;
          padding: 10px 40px;
          font-size: 14px;
        }
        &-icon {
          left: 10px;
          top: 10px;
          font-size: 20px;
        }
      }
    }
  }
}
@include responsive_1900 {
}
