.information-account {
  background-color: #f5f5f5;
  padding: 20px;
  &-header {
    border-bottom: 1px solid #ededed;
    padding-bottom: 15px;
    margin-bottom: 20px;
    &-title {
      font-size: 24px;
      font-weight: bold;
      color: $color-primary;
    }
    &-sub {
      font-size: 16px;
    }
  }
  &-main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    &-infor {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: 75%;
      &-left {
        width: 20%;
        &-item {
          font-size: 15px;
          color: $color-primary;
          font-weight: 500;
          margin-bottom: 35px;
          text-align: right;
        }
      }
      &-right {
        width: 80%;
        margin-left: 30px;
        &-text {
          font-size: 15px;
          font-weight: 600;
          color: $color-primary;
          margin-bottom: 30px;
        }
        &-input {
          width: 70%;
          padding: 8px 10px;
          font-size: 15px;
          margin-bottom: 10px;
        }
        &-email {
          font-size: 15px;
          margin-top: 15px;
          margin-bottom: 35px;
          font-weight: 500;
          color: $color-primary;
        }
        &-change {
          text-decoration: underline;
          color: $color-secondary;
          font-size: 13px;
          margin-left: 5px;
          &:hover {
            cursor: pointer;
            color: $color-yellow;
          }
        }
        &-sec {
          margin-top: -20px;
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          &-item {
            display: flex;
            align-items: center;
            margin-right: 30px;
            &-radio {
              width: 18px;
              height: 18px;
              margin-right: 8px;
              &:hover {
                cursor: pointer !important;
              }
            }
            &-text {
              font-size: 15px;
            }
          }
        }
        &-date {
          display: flex;
          align-items: center;
          margin-top: 30px;
          &-item {
            padding: 5px 8px 5px 20px;
            width: 23%;
            &:nth-child(2) {
              margin: 0 15px;
            }
          }
        }
      }
    }
    &-image {
      border-left: 1px solid #ededed;
      padding-left: 30px;
      &-avtar {
        margin: 0 auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 1px solid green;
      }
      &-name {
        text-align: center;
        margin-top: 10px;
        font-size: 13px;
        color: $color-primary;
      }
      &-btn {
        margin: 10px auto 0 auto;
        text-align: center;
        width: 100px;
        font-size: 15px;
        padding: 3px 12px;
        border-radius: 3px;
        border: 1px solid #bfbfbf;
        transition: all 0.2s ease-in-out;
        &:hover {
          cursor: pointer;
          background-color: $color-primary;
          color: white;
          transition: all 0.2s ease-in-out;
        }
      }
      &-text {
        text-align: center;
        font-size: 14px;
        margin-top: 10px;
      }
    }
  }
  &-btn {
    background-color: $color-primary;
    margin-left: 20px;
    margin-top: 20px;
    color: #fff;
    transition: all 0.2s ease-in-out;
    padding: 5px 0px;
    width: 130px;
    font-size: 16px;
    text-align: center;
    border-radius: 3px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    &:hover {
      cursor: pointer;
      background-color: $color-yellow;
      transition: all 0.2s ease-in-out;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }
  &-warnning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-icon {
      font-size: 60px;
      color: $color-orange;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    &-text {
      color: $color-orange;
      font-size: 16px;
      text-align: center;
    }
  }
}

// responsive
@include responsive_200 {
}
@include responsive_280 {
}
@include responsive_320 {
  .information-account {
    background-color: #f5f5f5;
    padding: 20px 5px;
    &-header {
      border-bottom: 1px solid #ededed;
      padding-bottom: 10px;
      margin-bottom: 15px;
      &-title {
        font-size: 18px;
        font-weight: bold;
        color: $color-primary;
      }
      &-sub {
        font-size: 12px;
      }
    }
    &-main {
      flex-direction: column;
      width: 100%;
      overflow: hidden;
      &-infor {
        width: 100%;
        order: 2;
        &-left {
          width: 30%;
          &-item {
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 25px;
            text-align: right;
          }
        }
        &-right {
          width: 70%;
          margin-left: 15px;
          &-text {
            font-size: 12px;
            font-weight: 600;
            margin-bottom: 15px;
          }
          &-input {
            width: 70%;
            padding: 8px 10px;
            font-size: 12px;
            margin-bottom: 5px;
          }
          &-email {
            font-size: 12px;
            margin-top: 10px;
            margin-bottom: 15px;
            font-weight: 500;
          }
          &-change {
            font-size: 9px;
            margin-left: 5px;
          }
          &-sec {
            margin-top: 1px;
            margin-bottom: 5px;
            &-item {
              margin-right: 30px;
              &-radio {
                width: 18px;
                height: 18px;
                margin-right: 8px;
              }
              &-text {
                font-size: 14px;
              }
            }
          }
          &-date {
            margin-top: 16px;
            &-item {
              padding: 5px 2px 5px 5px;
              font-size: 11px;
              width: 30%;
              &:nth-child(2) {
                margin: 0 5px;
              }
            }
          }
        }
      }
      &-image {
        width: 100%;
        order: 1;
        border-left: none;
        padding-left: 0px;
        margin-bottom: 20px;
        &-avtar {
          margin: 0 auto;
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }
        &-name {
          text-align: center;
          margin-top: 10px;
          font-size: 8px;
          width: 99%;
          overflow: hidden;
        }
        &-btn {
          margin: 10px auto 0 auto;
          text-align: center;
          width: 100px;
          font-size: 15px;
          padding: 3px 12px;
          border-radius: 3px;
        }
        &-text {
          font-size: 10px;
          margin-top: 10px;
        }
      }
    }
    &-btn {
      margin-left: 20px;
      margin-top: 20px;
      color: #fff;
      padding: 5px 0px;
      width: 120px;
      font-size: 13px;
      text-align: center;
      border-radius: 3px;
    }
    &-warnning {
      display: flex;
      flex-direction: column;
      justify-content: center;
      &-icon {
        font-size: 60px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20px;
      }
      &-text {
        font-size: 16px;
        text-align: center;
      }
    }
  }
}

@include responsive_375 {
  .information-account {
    background-color: #f5f5f5;
    padding: 20px;
    &-header {
      border-bottom: 1px solid #ededed;
      padding-bottom: 15px;
      margin-bottom: 20px;
      &-title {
        font-size: 20px;
        font-weight: bold;
        color: $color-primary;
      }
      &-sub {
        font-size: 14px;
      }
    }
    &-main {
      flex-direction: column;
      width: 100%;
      overflow: hidden;
      &-infor {
        width: 100%;
        order: 2;
        &-left {
          width: 30%;
          &-item {
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 35px;
            text-align: right;
          }
        }
        &-right {
          width: 70%;
          margin-left: 15px;
          &-text {
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 30px;
          }
          &-input {
            width: 70%;
            padding: 8px 10px;
            font-size: 14px;
            margin-bottom: 10px;
          }
          &-email {
            font-size: 14px;
            margin-top: 12px;
            margin-bottom: 20px;
            font-weight: 500;
          }
          &-change {
            font-size: 9px;
            margin-left: 2px;
          }
          &-sec {
            margin-top: 1px;
            margin-bottom: 20px;
            &-item {
              margin-right: 30px;
              &-radio {
                width: 18px;
                height: 18px;
                margin-right: 8px;
              }
              &-text {
                font-size: 14px;
              }
            }
          }
          &-date {
            margin-top: 30px;
            &-item {
              padding: 5px 2px 5px 5px;
              font-size: 13px;
              width: 30%;
              &:nth-child(2) {
                margin: 0 5px;
              }
            }
          }
        }
      }
      &-image {
        width: 100%;
        order: 1;
        border-left: none;
        padding-left: 0px;
        margin-bottom: 20px;
        &-avtar {
          margin: 0 auto;
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }
        &-name {
          text-align: center;
          margin-top: 10px;
          font-size: 10px;
          width: 90%;
          overflow: hidden;
        }
        &-btn {
          margin: 10px auto 0 auto;
          text-align: center;
          width: 100px;
          font-size: 15px;
          padding: 3px 12px;
          border-radius: 3px;
        }
        &-text {
          font-size: 12px;
          margin-top: 10px;
        }
      }
    }
    &-btn {
      margin-left: 20px;
      margin-top: 0px;
      color: #fff;
      padding: 5px 0px;
      width: 130px;
      font-size: 16px;
      text-align: center;
      border-radius: 3px;
    }
    &-warnning {
      display: flex;
      flex-direction: column;
      justify-content: center;
      &-icon {
        font-size: 60px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20px;
      }
      &-text {
        font-size: 16px;
        text-align: center;
      }
    }
  }
}

@include responsive_456 {
  .information-account {
    background-color: #f5f5f5;
    padding: 20px;
    &-header {
      border-bottom: 1px solid #ededed;
      padding-bottom: 15px;
      margin-bottom: 20px;
      &-title {
        font-size: 24px;
        font-weight: bold;
        color: $color-primary;
      }
      &-sub {
        font-size: 16px;
      }
    }
    &-main {
      flex-direction: column;
      &-infor {
        width: 100%;
        order: 2;
        &-left {
          width: 30%;
          &-item {
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 35px;
            text-align: right;
          }
        }
        &-right {
          width: 70%;
          margin-left: 30px;
          &-text {
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 30px;
          }
          &-input {
            width: 70%;
            padding: 8px 10px;
            font-size: 14px;
            margin-bottom: 10px;
          }
          &-email {
            font-size: 14px;
            margin-top: 12px;
            margin-bottom: 20px;
            font-weight: 500;
          }
          &-change {
            font-size: 13px;
            margin-left: 5px;
          }
          &-sec {
            margin-top: 1px;
            margin-bottom: 20px;
            &-item {
              margin-right: 30px;
              &-radio {
                width: 18px;
                height: 18px;
                margin-right: 8px;
              }
              &-text {
                font-size: 14px;
              }
            }
          }
          &-date {
            margin-top: 30px;
            &-item {
              padding: 5px 8px 5px 5px;
              font-size: 13px;
              width: 25%;
              &:nth-child(2) {
                margin: 0 5px;
              }
            }
          }
        }
      }
      &-image {
        width: 100%;
        order: 1;
        border-left: 1px solid #ededed;
        padding-left: 0px;
        margin-bottom: 20px;
        &-avtar {
          margin: 0 auto;
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }
        &-name {
          text-align: center;
          margin-top: 10px;
          font-size: 10px;
          width: 90%;
          overflow: hidden;
        }
        &-btn {
          margin: 10px auto 0 auto;
          text-align: center;
          width: 100px;
          font-size: 15px;
          padding: 3px 12px;
          border-radius: 3px;
        }
        &-text {
          font-size: 12px;
          margin-top: 10px;
        }
      }
    }
    &-btn {
      margin-left: 20px;
      margin-top: 20px;
      color: #fff;
      padding: 5px 0px;
      width: 130px;
      font-size: 16px;
      text-align: center;
      border-radius: 3px;
    }
    &-warnning {
      display: flex;
      flex-direction: column;
      justify-content: center;
      &-icon {
        font-size: 60px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20px;
      }
      &-text {
        font-size: 16px;
        text-align: center;
      }
    }
  }
}

@include responsive_768 {
  .information-account {
    background-color: #f5f5f5;
    padding: 20px;
    &-header {
      border-bottom: 1px solid #ededed;
      padding-bottom: 15px;
      margin-bottom: 20px;
      &-title {
        font-size: 24px;
        font-weight: bold;
        color: $color-primary;
      }
      &-sub {
        font-size: 16px;
      }
    }
    &-main {
      &-infor {
        width: 75%;
        &-left {
          width: 30%;
          &-item {
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 35px;
            text-align: right;
          }
        }
        &-right {
          width: 70%;
          margin-left: 30px;
          &-text {
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 30px;
          }
          &-input {
            width: 70%;
            padding: 8px 10px;
            font-size: 15px;
            margin-bottom: 10px;
          }
          &-email {
            font-size: 15px;
            margin-top: 12px;
            margin-bottom: 20px;
            font-weight: 500;
          }
          &-change {
            font-size: 13px;
            margin-left: 5px;
          }
          &-sec {
            margin-top: 1px;
            margin-bottom: 20px;
            &-item {
              margin-right: 30px;
              &-radio {
                width: 18px;
                height: 18px;
                margin-right: 8px;
              }
              &-text {
                font-size: 15px;
              }
            }
          }
          &-date {
            margin-top: 30px;
            &-item {
              padding: 5px 8px 5px 20px;
              width: 23%;
              &:nth-child(2) {
                margin: 0 15px;
              }
            }
          }
        }
      }
      &-image {
        width: 25%;
        border-left: 1px solid #ededed;
        padding-left: 30px;
        &-avtar {
          margin: 0 auto;
          width: 120px;
          height: 120px;
          border-radius: 50%;
        }
        &-name {
          text-align: center;
          margin-top: 10px;
          font-size: 13px;
          width: 90%;
          overflow: hidden;
        }
        &-btn {
          margin: 10px auto 0 auto;
          text-align: center;
          width: 100px;
          font-size: 15px;
          padding: 3px 12px;
          border-radius: 3px;
        }
        &-text {
          font-size: 14px;
          margin-top: 10px;
        }
      }
    }
    &-btn {
      margin-left: 20px;
      margin-top: 20px;
      color: #fff;
      padding: 5px 0px;
      width: 130px;
      font-size: 16px;
      text-align: center;
      border-radius: 3px;
    }
    &-warnning {
      display: flex;
      flex-direction: column;
      justify-content: center;
      &-icon {
        font-size: 60px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20px;
      }
      &-text {
        font-size: 16px;
        text-align: center;
      }
    }
  }
}
@include responsive_1024 {
  .information-account {
    background-color: #f5f5f5;
    padding: 20px;
    &-header {
      border-bottom: 1px solid #ededed;
      padding-bottom: 15px;
      margin-bottom: 20px;
      &-title {
        font-size: 24px;
        font-weight: bold;
        color: $color-primary;
      }
      &-sub {
        font-size: 16px;
      }
    }
    &-main {
      &-infor {
        width: 75%;
        &-left {
          width: 30%;
          &-item {
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 35px;
            text-align: right;
          }
        }
        &-right {
          width: 70%;
          margin-left: 30px;
          &-text {
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 30px;
          }
          &-input {
            width: 70%;
            padding: 8px 10px;
            font-size: 15px;
            margin-bottom: 10px;
          }
          &-email {
            font-size: 15px;
            margin-top: 12px;
            margin-bottom: 20px;
            font-weight: 500;
          }
          &-change {
            font-size: 13px;
            margin-left: 5px;
          }
          &-sec {
            margin-top: 1px;
            margin-bottom: 20px;
            &-item {
              margin-right: 30px;
              &-radio {
                width: 18px;
                height: 18px;
                margin-right: 8px;
              }
              &-text {
                font-size: 15px;
              }
            }
          }
          &-date {
            margin-top: 30px;
            &-item {
              padding: 5px 8px 5px 20px;
              width: 23%;
              &:nth-child(2) {
                margin: 0 15px;
              }
            }
          }
        }
      }
      &-image {
        width: 25%;
        border-left: 1px solid #ededed;
        padding-left: 30px;
        &-avtar {
          margin: 0 auto;
          width: 120px;
          height: 120px;
          border-radius: 50%;
        }
        &-name {
          text-align: center;
          margin-top: 10px;
          font-size: 13px;
          width: 90%;
          overflow: hidden;
        }
        &-btn {
          margin: 10px auto 0 auto;
          text-align: center;
          width: 100px;
          font-size: 15px;
          padding: 3px 12px;
          border-radius: 3px;
        }
        &-text {
          font-size: 14px;
          margin-top: 10px;
        }
      }
    }
    &-btn {
      margin-left: 20px;
      margin-top: 20px;
      color: #fff;
      padding: 5px 0px;
      width: 130px;
      font-size: 16px;
      text-align: center;
      border-radius: 3px;
    }
    &-warnning {
      display: flex;
      flex-direction: column;
      justify-content: center;
      &-icon {
        font-size: 60px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20px;
      }
      &-text {
        font-size: 16px;
        text-align: center;
      }
    }
  }
}

@include responsive_1200 {
  .information-account {
    background-color: #f5f5f5;
    padding: 20px;
    &-header {
      border-bottom: 1px solid #ededed;
      padding-bottom: 15px;
      margin-bottom: 20px;
      &-title {
        font-size: 24px;
        font-weight: bold;
        color: $color-primary;
      }
      &-sub {
        font-size: 16px;
      }
    }
    &-main {
      &-infor {
        width: 75%;
        &-left {
          width: 20%;
          &-item {
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 35px;
            text-align: right;
          }
        }
        &-right {
          width: 80%;
          margin-left: 30px;
          &-text {
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 30px;
          }
          &-input {
            width: 70%;
            padding: 8px 10px;
            font-size: 15px;
            margin-bottom: 10px;
          }
          &-email {
            font-size: 15px;
            margin-top: 15px;
            margin-bottom: 35px;
            font-weight: 500;
            color: $color-primary;
          }
          &-change {
            color: $color-secondary;
            font-size: 13px;
            margin-left: 5px;
          }
          &-sec {
            margin-top: -20px;
            margin-bottom: 10px;
            &-item {
              margin-right: 30px;
              &-radio {
                width: 18px;
                height: 18px;
                margin-right: 8px;
              }
              &-text {
                font-size: 15px;
              }
            }
          }
          &-date {
            margin-top: 30px;
            &-item {
              padding: 5px 8px 5px 20px;
              width: 23%;
              &:nth-child(2) {
                margin: 0 15px;
              }
            }
          }
        }
      }
      &-image {
        width: 25%;
        border-left: 1px solid #ededed;
        padding-left: 30px;
        &-avtar {
          margin: 0 auto;
          width: 120px;
          height: 120px;
          border-radius: 50%;
        }
        &-name {
          text-align: center;
          margin-top: 10px;
          font-size: 13px;
          width: 90%;
          overflow: hidden;
        }
        &-btn {
          margin: 10px auto 0 auto;
          text-align: center;
          width: 100px;
          font-size: 15px;
          padding: 3px 12px;
          border-radius: 3px;
        }
        &-text {
          font-size: 14px;
          margin-top: 10px;
        }
      }
    }
    &-btn {
      margin-left: 20px;
      margin-top: 20px;
      color: #fff;
      padding: 5px 0px;
      width: 130px;
      font-size: 16px;
      text-align: center;
      border-radius: 3px;
    }
    &-warnning {
      display: flex;
      flex-direction: column;
      justify-content: center;
      &-icon {
        font-size: 60px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20px;
      }
      &-text {
        font-size: 16px;
        text-align: center;
      }
    }
  }
}
@include responsive_1440 {
  .information-account {
    background-color: #f5f5f5;
    padding: 20px;
    &-header {
      border-bottom: 1px solid #ededed;
      padding-bottom: 15px;
      margin-bottom: 20px;
      &-title {
        font-size: 24px;
        font-weight: bold;
        color: $color-primary;
      }
      &-sub {
        font-size: 16px;
      }
    }
    &-main {
      &-infor {
        width: 75%;
        &-left {
          width: 20%;
          &-item {
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 35px;
            text-align: right;
          }
        }
        &-right {
          width: 80%;
          margin-left: 30px;
          &-text {
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 30px;
          }
          &-input {
            width: 70%;
            padding: 8px 10px;
            font-size: 15px;
            margin-bottom: 10px;
          }
          &-email {
            font-size: 15px;
            margin-top: 15px;
            margin-bottom: 35px;
            font-weight: 500;
            color: $color-primary;
          }
          &-change {
            color: $color-secondary;
            font-size: 13px;
            margin-left: 5px;
          }
          &-sec {
            margin-top: -20px;
            margin-bottom: 10px;
            &-item {
              margin-right: 30px;
              &-radio {
                width: 18px;
                height: 18px;
                margin-right: 8px;
              }
              &-text {
                font-size: 15px;
              }
            }
          }
          &-date {
            margin-top: 30px;
            &-item {
              padding: 5px 8px 5px 20px;
              width: 23%;
              &:nth-child(2) {
                margin: 0 15px;
              }
            }
          }
        }
      }
      &-image {
        border-left: 1px solid #ededed;
        padding-left: 30px;
        &-avtar {
          margin: 0 auto;
          width: 120px;
          height: 120px;
          border-radius: 50%;
        }
        &-name {
          text-align: center;
          margin-top: 10px;
          font-size: 13px;
        }
        &-btn {
          margin: 10px auto 0 auto;
          text-align: center;
          width: 100px;
          font-size: 15px;
          padding: 3px 12px;
          border-radius: 3px;
        }
        &-text {
          font-size: 14px;
          margin-top: 10px;
        }
      }
    }
    &-btn {
      margin-left: 20px;
      margin-top: 20px;
      color: #fff;
      padding: 5px 0px;
      width: 130px;
      font-size: 16px;
      text-align: center;
      border-radius: 3px;
    }
    &-warnning {
      display: flex;
      flex-direction: column;
      justify-content: center;
      &-icon {
        font-size: 60px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20px;
      }
      &-text {
        font-size: 16px;
        text-align: center;
      }
    }
  }
}
@include responsive_1650 {
  .information-account {
    background-color: #f5f5f5;
    padding: 20px;
    &-header {
      border-bottom: 1px solid #ededed;
      padding-bottom: 15px;
      margin-bottom: 20px;
      &-title {
        font-size: 24px;
        font-weight: bold;
        color: $color-primary;
      }
      &-sub {
        font-size: 16px;
      }
    }
    &-main {
      &-infor {
        width: 75%;
        &-left {
          width: 20%;
          &-item {
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 35px;
            text-align: right;
          }
        }
        &-right {
          width: 80%;
          margin-left: 30px;
          &-text {
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 30px;
          }
          &-input {
            width: 70%;
            padding: 8px 10px;
            font-size: 15px;
            margin-bottom: 10px;
          }
          &-email {
            font-size: 15px;
            margin-top: 15px;
            margin-bottom: 35px;
            font-weight: 500;
            color: $color-primary;
          }
          &-change {
            color: $color-secondary;
            font-size: 13px;
            margin-left: 5px;
          }
          &-sec {
            margin-top: -20px;
            margin-bottom: 10px;
            &-item {
              margin-right: 30px;
              &-radio {
                width: 18px;
                height: 18px;
                margin-right: 8px;
              }
              &-text {
                font-size: 15px;
              }
            }
          }
          &-date {
            margin-top: 30px;
            &-item {
              padding: 5px 8px 5px 20px;
              width: 23%;
              &:nth-child(2) {
                margin: 0 15px;
              }
            }
          }
        }
      }
      &-image {
        padding-left: 30px;
        &-avtar {
          margin: 0 auto;
          width: 120px;
          height: 120px;
          border-radius: 50%;
        }
        &-name {
          text-align: center;
          margin-top: 10px;
          font-size: 13px;
        }
        &-btn {
          margin: 10px auto 0 auto;
          width: 100px;
          font-size: 15px;
          padding: 3px 12px;
          border-radius: 3px;
        }
        &-text {
          font-size: 14px;
          margin-top: 10px;
        }
      }
    }
    &-btn {
      margin-left: 20px;
      margin-top: 20px;
      color: #fff;
      padding: 5px 0px;
      width: 130px;
      font-size: 16px;
      text-align: center;
      border-radius: 3px;
    }
    &-warnning {
      &-icon {
        font-size: 60px;
        margin: 0 auto;
        margin-bottom: 20px;
      }
      &-text {
        font-size: 16px;
      }
    }
  }
}
@include responsive_1900 {
}
