.list-navigation {
  margin-top: 120px;
  margin-left: 7%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  &-special {
    position: absolute;
    top: 120px;
    left: 7%;
    display: flex;
    align-items: center;
  }
  &-item {
    &:hover {
      .list-navigation-home,
      .list-navigation-text {
        color: $color-yellow;
        transition: all 0.2s linear;
      }
    }
  }
  &-home {
    font-size: 18px;
    color: $color-primary;
    margin-right: 10px;
    transition: all 0.2s linear;
  }
  &-text {
    font-size: 15px;
    color: $color-primary;
    font-weight: 600;
    transition: all 0.2s linear;
    &:hover {
      color: $color-yellow;
      transition: all 0.2s linear;
    }
    &-no {
      font-size: 15px;
      color: $color-primary;
      font-weight: 600;
    }
  }
  &-icon {
    font-size: 12px;
    margin: 0 12px;
  }
}

// responsive
@include responsive_200 {
}
@include responsive_280 {
}
@include responsive_320 {
  .list-navigation {
    position: absolute;
    top: -95px;
    left: 22%;
    &-special {
      position: absolute;
      top: -25px;
      left: 24%;
    }
    &-home {
      font-size: 18px;
      margin-right: 4px;
    }
    &-text {
      font-size: 14px;
      font-weight: 600;
      &-no {
        font-size: 14px;
        font-weight: 600;
      }
    }
    &-icon {
      font-size: 10px;
      margin: 0 5px;
    }
  }
}

@include responsive_375 {
  .list-navigation {
    position: absolute;
    top: -95px;
    left: 20%;
    &-special {
      position: absolute;
      top: -25px;
      left: 23%;
    }
    &-home {
      font-size: 18px;
      margin-right: 8px;
    }
    &-text {
      font-size: 14px;
      font-weight: 600;
      &-no {
        font-size: 14px;
        font-weight: 600;
      }
    }
    &-icon {
      font-size: 10px;
      margin: 0 5px;
    }
  }
}

@include responsive_456 {
  .list-navigation {
    position: absolute;
    top: -95px;
    left: 20%;
    &-special {
      position: absolute;
      top: -25px;
      left: 20%;
    }
    &-home {
      font-size: 16px;
      margin-right: 10px;
    }
    &-text {
      font-size: 14px;
      font-weight: 600;
      &-no {
        font-size: 14px;
        font-weight: 600;
      }
    }
    &-icon {
      font-size: 10px;
      margin: 0 8px;
    }
  }
}

@include responsive_768 {
  .list-navigation {
    margin-top: 70px;
    margin-left: 2%;
    margin-bottom: 30px;
    &-special {
      top: 55px;
      left: 2%;
    }
    &-home {
      font-size: 16px;
      margin-right: 10px;
    }
    &-text {
      font-size: 14px;
      font-weight: 600;
      &-no {
        font-size: 14px;
        font-weight: 600;
      }
    }
    &-icon {
      font-size: 10px;
      margin: 0 10px;
    }
  }
}
@include responsive_1024 {
  .list-navigation {
    margin-top: 100px;
    margin-left: 2%;
    margin-bottom: 30px;
    &-special {
      top: 76px;
      left: 2%;
    }
    &-home {
      font-size: 18px;
      margin-right: 10px;
    }
    &-text {
      font-size: 15px;
      font-weight: 600;
      &-no {
        font-size: 15px;
        font-weight: 600;
      }
    }
    &-icon {
      font-size: 12px;
      margin: 0 12px;
    }
  }
}

@include responsive_1200 {
  .list-navigation {
    margin-top: 110px;
    margin-left: 2%;
    margin-bottom: 30px;
    &-special {
      top: 80px;
      left: 7%;
    }
    &-home {
      font-size: 18px;
      margin-right: 10px;
    }
    &-text {
      font-size: 15px;
      font-weight: 600;
      &-no {
        font-size: 15px;
        font-weight: 600;
      }
    }
    &-icon {
      font-size: 12px;
      margin: 0 12px;
    }
  }
}
@include responsive_1440 {
  .list-navigation {
    margin-top: 110px;
    margin-left: 2%;
    margin-bottom: 30px;
    &-special {
      top: 120px;
      left: 7%;
    }
    &-home {
      font-size: 18px;
      margin-right: 10px;
    }
    &-text {
      font-size: 15px;
      font-weight: 600;
      &-no {
        font-size: 15px;
        font-weight: 600;
      }
    }
    &-icon {
      font-size: 12px;
      margin: 0 12px;
    }
  }
}
@include responsive_1650 {
  .list-navigation {
    margin-top: 120px;
    margin-left: 7%;
    margin-bottom: 30px;
    &-special {
      top: 120px;
      left: 7%;
    }
    &-home {
      font-size: 18px;
      margin-right: 10px;
    }
    &-text {
      font-size: 15px;
      font-weight: 600;
      &-no {
        font-size: 15px;
        font-weight: 600;
      }
    }
    &-icon {
      font-size: 12px;
      margin: 0 12px;
    }
  }
}
@include responsive_1900 {
}
