.information-notify {
  background-color: #f5f5f5;
  padding: 20px;
  &-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ededed;
    padding-bottom: 10px;
    margin-bottom: 20px;
    &-title {
      font-size: 20px;
      font-weight: bold;
      color: $color-primary;
    }
    &-sub {
      font-size: 16px;
      font-weight: 400;
      color: #888;
    }
  }
  &-main {
    &-embty {
      width: 200px;
      height: 200px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 20px auto;
      &-text {
        font-size: 16px;
        font-weight: 500;
        color: $color-primary;
        margin: 5px 0;
        text-align: center;
      }
      &-sub {
        font-size: 14px;
        font-weight: 300;
        color: $color-secondary;
        text-align: center;
      }
    }
    &-group {
      &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 10px;
        border-bottom: 1px solid #ededed;
        &:hover {
          background-color: #ededed;
          cursor: pointer;
          .information-notify-main-group-item-btn {
            background-color: $color-primary;
            color: #fff;
            transition: all 0.3s ease-in-out;
          }
        }
        &-image {
          width: 120px;
          height: 120px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          background-color: red;
        }
        &-infor {
          margin: 0 10px;
          width: 75%;
          &-title {
            font-size: 18px;
            font-weight: 500;
            color: $color-primary;
          }
          &-content {
            font-size: 14px;
            max-height: 60px;
            line-height: 20px;
            text-align: justify;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            color: #666;
            margin-top: 5px;
          }
          &-time {
            color: #888;
            font-weight: 600;
            font-size: 15px;
            margin-top: 8px;
          }
        }
        &-btn {
          padding: 5px 8px;
          border: 1px solid #bfbfbf;
          color: #666;
          font-size: 15px;
          border-radius: 4px;
          transition: all 0.2s ease-in-out;
          &:hover {
            cursor: pointer;
            background-color: $color-primary;
            color: #fff;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
    &-pagination {
      display: flex;
      justify-content: center;
      margin-top: 30px;
    }
  }
}

// responsive
@include responsive_200 {
}
@include responsive_280 {
}
@include responsive_320 {
  .information-notify {
    padding: 8px;
    &-header {
      padding-bottom: 10px;
      margin-bottom: 20px;
      &-title {
        font-size: 16px;
        font-weight: bold;
      }
      &-sub {
        font-size: 13px;
        font-weight: 400;
      }
    }
    &-main {
      &-embty {
        width: 180px;
        height: 180px;
        margin: 10px auto;
        &-text {
          font-size: 13px;
          font-weight: 500;
          margin: 5px 0;
        }
        &-sub {
          font-size: 13px;
          font-weight: 300;
          text-align: center;
        }
      }
      &-group {
        &-item {
          padding: 8px 5px;
          border-bottom: 1px solid #ededed;
          &-image {
            width: 60px;
            height: 60px;
          }
          &-infor {
            margin: 0 10px;
            width: 70%;
            &-title {
              font-size: 17px;
              font-weight: 500;
            }
            &-content {
              font-size: 13px;
              max-height: 40px;
              line-height: 20px;
              -webkit-line-clamp: 2;
              margin-top: 5px;
            }
            &-time {
              font-weight: 600;
              font-size: 15px;
              margin-top: 8px;
            }
          }
          &-btn {
            display: none;
          }
        }
      }
      &-pagination {
        margin-top: 30px;
      }
    }
  }
}

@include responsive_375 {
  .information-notify {
    padding: 8px;
    &-header {
      padding-bottom: 10px;
      margin-bottom: 20px;
      &-title {
        font-size: 16px;
        font-weight: bold;
      }
      &-sub {
        font-size: 13px;
        font-weight: 400;
      }
    }
    &-main {
      &-embty {
        width: 180px;
        height: 180px;
        margin: 10px auto;
        &-text {
          font-size: 13px;
          font-weight: 500;
          margin: 5px 0;
        }
        &-sub {
          font-size: 13px;
          font-weight: 300;
          text-align: center;
        }
      }
      &-group {
        &-item {
          padding: 8px 5px;
          border-bottom: 1px solid #ededed;
          &-image {
            width: 60px;
            height: 60px;
          }
          &-infor {
            margin: 0 10px;
            width: 70%;
            &-title {
              font-size: 17px;
              font-weight: 500;
            }
            &-content {
              font-size: 13px;
              max-height: 40px;
              line-height: 20px;
              -webkit-line-clamp: 2;
              margin-top: 5px;
            }
            &-time {
              font-weight: 600;
              font-size: 15px;
              margin-top: 8px;
            }
          }
          &-btn {
            display: none;
          }
        }
      }
      &-pagination {
        margin-top: 30px;
      }
    }
  }
}

@include responsive_456 {
  .information-notify {
    padding: 15px;
    &-header {
      padding-bottom: 10px;
      margin-bottom: 20px;
      &-title {
        font-size: 20px;
        font-weight: bold;
      }
      &-sub {
        font-size: 16px;
        font-weight: 400;
      }
    }
    &-main {
      &-embty {
        width: 200px;
        height: 200px;
        margin: 20px auto;
        &-text {
          font-size: 14px;
          font-weight: 500;
          margin: 5px 0;
        }
        &-sub {
          font-size: 14px;
          font-weight: 300;
          text-align: center;
        }
      }
      &-group {
        &-item {
          padding: 10px 10px;
          border-bottom: 1px solid #ededed;
          &-image {
            width: 90px;
            height: 90px;
          }
          &-infor {
            margin: 0 10px;
            width: 70%;
            &-title {
              font-size: 17px;
              font-weight: 500;
            }
            &-content {
              font-size: 13px;
              max-height: 40px;
              line-height: 20px;
              -webkit-line-clamp: 2;
              margin-top: 5px;
            }
            &-time {
              font-weight: 600;
              font-size: 15px;
              margin-top: 8px;
            }
          }
          &-btn {
            display: none;
          }
        }
      }
      &-pagination {
        margin-top: 30px;
      }
    }
  }
}

@include responsive_768 {
  .information-notify {
    padding: 15px;
    &-header {
      padding-bottom: 10px;
      margin-bottom: 20px;
      &-title {
        font-size: 20px;
        font-weight: bold;
      }
      &-sub {
        font-size: 16px;
        font-weight: 400;
      }
    }
    &-main {
      &-embty {
        width: 200px;
        height: 200px;
        margin: 20px auto;
        &-text {
          font-size: 14px;
          font-weight: 500;
          margin: 5px 0;
        }
        &-sub {
          font-size: 14px;
          font-weight: 300;
          text-align: center;
        }
      }
      &-group {
        &-item {
          padding: 10px 10px;
          border-bottom: 1px solid #ededed;
          &-image {
            width: 100px;
            height: 100px;
          }
          &-infor {
            margin: 0 10px;
            width: 75%;
            &-title {
              font-size: 17px;
              font-weight: 500;
            }
            &-content {
              font-size: 13px;
              max-height: 40px;
              line-height: 20px;
              -webkit-line-clamp: 2;
              margin-top: 5px;
            }
            &-time {
              font-weight: 600;
              font-size: 15px;
              margin-top: 8px;
            }
          }
          &-btn {
            padding: 5px 8px;
            border: 1px solid #bfbfbf;
            font-size: 13px;
            border-radius: 4px;
            text-align: center;
          }
        }
      }
      &-pagination {
        margin-top: 30px;
      }
    }
  }
}
@include responsive_1024 {
  .information-notify {
    padding: 15px;
    &-header {
      padding-bottom: 10px;
      margin-bottom: 20px;
      &-title {
        font-size: 20px;
        font-weight: bold;
      }
      &-sub {
        font-size: 16px;
        font-weight: 400;
      }
    }
    &-main {
      &-embty {
        width: 200px;
        height: 200px;
        margin: 20px auto;
        &-text {
          font-size: 14px;
          font-weight: 500;
          margin: 5px 0;
        }
        &-sub {
          font-size: 14px;
          font-weight: 300;
          text-align: center;
        }
      }
      &-group {
        &-item {
          padding: 10px 10px;
          border-bottom: 1px solid #ededed;
          &-image {
            width: 100px;
            height: 100px;
          }
          &-infor {
            margin: 0 10px;
            width: 75%;
            &-title {
              font-size: 17px;
              font-weight: 500;
            }
            &-content {
              font-size: 13px;
              max-height: 40px;
              line-height: 20px;
              -webkit-line-clamp: 2;
              margin-top: 5px;
            }
            &-time {
              font-weight: 600;
              font-size: 15px;
              margin-top: 8px;
            }
          }
          &-btn {
            padding: 5px 8px;
            border: 1px solid #bfbfbf;
            font-size: 13px;
            border-radius: 4px;
            text-align: center;
          }
        }
      }
      &-pagination {
        margin-top: 30px;
      }
    }
  }
}
@include responsive_1200 {
  .information-notify {
    padding: 15px;
    &-header {
      padding-bottom: 10px;
      margin-bottom: 20px;
      &-title {
        font-size: 20px;
        font-weight: bold;
      }
      &-sub {
        font-size: 16px;
        font-weight: 400;
      }
    }
    &-main {
      &-embty {
        width: 200px;
        height: 200px;
        margin: 20px auto;
        &-text {
          font-size: 14px;
          font-weight: 500;
          margin: 5px 0;
        }
        &-sub {
          font-size: 14px;
          font-weight: 300;
          text-align: center;
        }
      }
      &-group {
        &-item {
          padding: 10px 10px;
          border-bottom: 1px solid #ededed;
          &-image {
            width: 100px;
            height: 100px;
          }
          &-infor {
            margin: 0 10px;
            width: 75%;
            &-title {
              font-size: 17px;
              font-weight: 500;
            }
            &-content {
              font-size: 13px;
              max-height: 40px;
              line-height: 20px;
              -webkit-line-clamp: 2;
              margin-top: 5px;
            }
            &-time {
              font-weight: 600;
              font-size: 15px;
              margin-top: 8px;
            }
          }
          &-btn {
            padding: 5px 8px;
            border: 1px solid #bfbfbf;
            font-size: 13px;
            border-radius: 4px;
            text-align: center;
          }
        }
      }
      &-pagination {
        margin-top: 30px;
      }
    }
  }
}
@include responsive_1440 {
  .information-notify {
    padding: 20px;
    &-header {
      padding-bottom: 10px;
      margin-bottom: 20px;
      &-title {
        font-size: 20px;
        font-weight: bold;
      }
      &-sub {
        font-size: 16px;
        font-weight: 400;
      }
    }
    &-main {
      &-embty {
        width: 200px;
        height: 200px;
        margin: 20px auto;
        &-text {
          font-size: 16px;
          font-weight: 500;
          margin: 5px 0;
        }
        &-sub {
          font-size: 14px;
          font-weight: 300;
          text-align: center;
        }
      }
      &-group {
        &-item {
          padding: 15px 10px;
          border-bottom: 1px solid #ededed;
          &-image {
            width: 120px;
            height: 120px;
          }
          &-infor {
            margin: 0 10px;
            width: 75%;
            &-title {
              font-size: 18px;
              font-weight: 500;
            }
            &-content {
              font-size: 14px;
              max-height: 60px;
              line-height: 20px;
              -webkit-line-clamp: 3;
              margin-top: 5px;
            }
            &-time {
              font-weight: 600;
              font-size: 15px;
              margin-top: 8px;
            }
          }
          &-btn {
            padding: 5px 8px;
            border: 1px solid #bfbfbf;
            font-size: 15px;
            border-radius: 4px;
          }
        }
      }
      &-pagination {
        margin-top: 30px;
      }
    }
  }
}
@include responsive_1650 {
  .information-notify {
    padding: 20px;
    &-header {
      padding-bottom: 10px;
      margin-bottom: 20px;
      &-title {
        font-size: 20px;
        font-weight: bold;
      }
      &-sub {
        font-size: 16px;
        font-weight: 400;
      }
    }
    &-main {
      &-embty {
        width: 200px;
        height: 200px;
        margin: 20px auto;
        &-text {
          font-size: 16px;
          font-weight: 500;
          margin: 5px 0;
        }
        &-sub {
          font-size: 14px;
          font-weight: 300;
          text-align: center;
        }
      }
      &-group {
        &-item {
          padding: 15px 10px;
          border-bottom: 1px solid #ededed;
          &-image {
            width: 120px;
            height: 120px;
          }
          &-infor {
            margin: 0 10px;
            width: 75%;
            &-title {
              font-size: 18px;
              font-weight: 500;
            }
            &-content {
              font-size: 14px;
              max-height: 60px;
              line-height: 20px;
              -webkit-line-clamp: 3;
              margin-top: 5px;
            }
            &-time {
              font-weight: 600;
              font-size: 15px;
              margin-top: 8px;
            }
          }
          &-btn {
            padding: 5px 8px;
            border: 1px solid #bfbfbf;
            font-size: 15px;
            border-radius: 4px;
          }
        }
      }
      &-pagination {
        margin-top: 30px;
      }
    }
  }
}
@include responsive_1900 {
}
